<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="icon-section">
      <img class="stunt-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="80" height="80" style="{{#if system.iconBackground}}background-color: {{system.iconBackground}};{{/if}}"/>
      <div class="icon-bg-picker">
        <label class="field-label">{{localize "SCIONS.Stunts.IconBackground"}}</label>
        <input type="color" name="system.iconBackground" value="{{#if system.iconBackground}}{{system.iconBackground}}{{else}}#000000{{/if}}" title="{{localize "SCIONS.Stunts.IconBackground"}}"/>
        <button type="button" class="clear-bg-button" title="{{localize "SCIONS.Stunts.ClearBackground"}}">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <div class="header-fields">
      <div class="name-field">
        <label class="field-label">{{localize "SCIONS.Stunts.StuntName"}}</label>
        <input name="name" type="text" value="{{item.name}}" placeholder="{{localize "SCIONS.Stunts.NamePlaceholder"}}"/>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Section --}}
    <div class="subsection-header">{{localize "SCIONS.Labels.Description"}}</div>
    <div class="editor-container">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

  </section>

</form>
