<form class="{{cssClass}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="icon-section">
      <img class="stunt-profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" width="80" height="80" style="{{#if system.iconBackground}}background-color: {{system.iconBackground}};{{/if}}"/>
      <div class="icon-bg-picker">
        <label class="field-label">Icon Background</label>
        <input type="color" name="system.iconBackground" value="{{#if system.iconBackground}}{{system.iconBackground}}{{else}}#000000{{/if}}" title="Icon Background Color"/>
        <button type="button" class="clear-bg-button" title="Clear Background">
          <i class="fas fa-times"></i>
        </button>
      </div>
    </div>

    <div class="header-fields">
      <div class="name-field">
        <label class="field-label">Stunt Name</label>
        <input name="name" type="text" value="{{item.name}}" placeholder="Stunt Name"/>
      </div>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Stunt Effect Info --}}
    <div class="stunt-effect-section">
      <div class="subsection-header">Stunt Effect</div>
      <div class="effect-description">
        <i class="fas fa-info-circle"></i>
        This stunt enables the second Minor Consequence slot (2-point). This effect does not stack with multiple consequence stunts.
      </div>
    </div>

    {{!-- Description Section --}}
    <div class="subsection-header">Description</div>
    <div class="editor-container">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>

  </section>

</form>
